@import url(http://fonts.googleapis.com/css?family=Varela+Round);

.headr {
	position: fixed;
	width: 99%;
	height: 10%;
	background-color: #FFFFFF;
}


/*Header Buttons*/
.btn1 {
	left: 380px;
}
.btn2 {
	left: 390px;
}
[data-wipe] {
  display: inline-block;
  padding: 12px 18px;
  text-decoration: none;
  position: relative;
  border: 2px solid #445561;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: left;
  color: #445561;
  overflow: hidden;
}
[data-wipe]:before, [data-wipe]:after {
  content: attr(data-wipe);
  padding-top: inherit;
  padding-bottom: inherit;
  white-space: nowrap;
  position: absolute;
  top: 0;
  overflow: hidden;
  color: #F1F1F2;
  background: #445561;
}
[data-wipe]:before {
  left: 0;
  text-indent: 18px;
  width: 0;
}
[data-wipe]:after {
  padding-left: inherit;
  padding-right: inherit;
  left: 100%;
  text-indent: calc(-100% - 36px);
  transition: 0.2s ease-in-out;
}
[data-wipe]:hover:before {
  width: 100%;
  transition: width 0.2s ease-in-out;
}
[data-wipe]:hover:after {
  left: 0;
  text-indent: 0;
  transition: 0s 0.2s ease-in-out;
}

/*Header Buttons End Here */

.main {
	position: absolute;
	top: 10%;
	height: 89%;
	width: 99%;
}

.image {
	 vertical-align:middle; 
	 margin-top: 20px; 
	 display: inline-block
}

.imageclass {
  width: 76%;
  height: 95%;
  left: 700px;
}
.content {
	position: absolute;
	margin-top: 10px;
	color: #000000;
	height: 550px;
	width: 450px;
	font-family: "Varela Round";
	display:inline-block;
	font-size:15px;
	vertical-align:middle;
}

.content p {
	margin-left: 20px;
}
.content p:first-child {
;	font-size: 30px;
	text-align: center;
}
.content p span {
	font-size: 18px;
}

.tools {
  position: absolute;
  margin-top: 30px;
  margin-left: 10px;
}
.tools img {
  cursor: pointer;
}
.tools p {
  position: fixed;
  display: inline-block; 
  font-size: 25px;
  font-family: "Varela Round";
}