/*======================= CSS RESET ==========================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}

/*===================CSS STARTS HERE=========================*/

@font-face {
    font-family: taile;
    src: url(fonts/TAILEB.TTF);
    font-weight:bold;
}

@font-face {
    font-family: taile;
    src: url(fonts/TAILE.TTF);
    font-weight:400;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Varela Round";
  font-size: 100%;
}

a {
  text-decoration: none;
}
 
/*=================== Head Banner =========================*/

.banner {
  width: 100%;
  height: 100%;
  background: url(img/banner.jpg) no-repeat center top;
  background-size: cover;
} 

.banner section {
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  top: 30%;
}

.banner section h1 {
  font-family: "Lusitana";
  font-weight: bold;
  line-height: 1em;
  font-size: 11em;
  margin-bottom: 0.7em;
}
 
.banner a {
  font-weight: bold;
 }

/*============== EXPLORE BUTTON ====================*/
.explore {
  font-family: "Varela Round";
  display: inline-block;
  padding: 12px 18px;
  text-decoration: none;
  position: relative;
  border: 1px solid #000;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  color: #000;
  overflow: hidden;
  font-size: 30px;
}

/*=============== IMAGE FEED ==============*/

.posts {
  height: 60%;
  padding-bottom: 1em;
}

.post {
  height: 100%;
  width: 80%;
  margin: 2.5% auto;
  display: block;
  box-shadow: 6px 10px 43px 9px #C9C6C6;
  border: 1px solid #a1a1a1;
  font-family: "taile";
  overflow: hidden;
  margin-bottom: 10em;
}

.artwork {
  width: 50%;
  height: auto;
  display: inline-block;
  float: left;
  vertical-align: center;
  overflow: hidden;
  
}

.description {
  height: 100%;
  display: inline-block;
  float: right;
  width: 45%;
  vertical-align:top;
  padding-right: .5em;
}

.description-header {
  padding-top: 5em;
  padding-bottom: 2em;
  text-align: left;
  height: 30%;
}

.description-header h4 {
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
  letter-spacing: 0.5px;
  text-decoration: none solid rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 0.8);
}

.description-header h5 {
  font-size: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.1px;
  line-height: 19.6px;
  text-decoration: none solid rgba(0, 0, 0, 0.3);
}

.description-header .artist {
  color: rgb(87, 173, 104);
  text-decoration: none solid rgb(87, 173, 104);
}

/*=========== TOP INTERPRETATION ==============*/
.comment {
  height: 52%;
  margin-bottom: 4%;
  position: relative;
}

.comment-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0.3px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none solid rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 15%;
}

.comment-footer {
  font-size: 18px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.1px;
  line-height: 19.6px;
  text-decoration: none solid rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
}

.comment-footer a {
  color: rgb(87, 173, 104);
  text-decoration: none solid rgb(87, 173, 104);
}

.description-footer{
  height: 10%;
  margin-bottom: 4%
}

.description-footer ul {
  height: 100%;
}

.description-footer li {
  float: left;
  height: 100%;
  margin: 0 3px;
}

.description-footer img {
  height: 100%;
  width: auto;
  cursor: pointer;
  opacity: 0.7;
}

.description-footer img:hover {
  opacity: 1;
}

/*=========== NEXT PAINTING ARROW ====================*/

.next-post {
  font-family: "Varela Round";
  display: inline-block;
  padding: 12px 18px;
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  color: #000;
  overflow: hidden;
  font-size: 30px;
}

/*================= Clearfix =====================*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}